@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    font-family: 'Press Start 2P';
    color:333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin:0;
}

h1 {
    line-height: 1.4em;
    font-size: 1.3em;
}

p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.main {
    padding-top: 8rem;
}

.header {
    background: #333;
    color: greenyellow;
    padding:2rem 0;

    position: fixed;
    top:0;
    width: 100%;
}

.header a {
    
    text-decoration: none;
}

.logo-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.5em;
    color:#20C20E;
    
}


.navigation ul {
    margin:0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding:  0.5rem 0.5rem;
    transition: all 0.4s linear;
    border-radius:5px;
    color:white;
}

.navigation ul li a:hover {
    background-color: #4a4a4a;
}

.footer {
    background-color: #545454;
    padding: 1.5rem 0;
    margin-top: 6rem;
    text-align: center;
    color:white;
}

.menu-icon {
    display: none;
}

@media only screen and (max-width:1100px) {

    .logo {
        
        margin: auto;
        
    }


    .menu-icon {
        display: block;
        cursor: pointer;
        width: 3rem;
        fill: #20C20E;
        margin: auto;
    }

    .navigation {
        margin-top: 1.5rem;
        width: 100%;
    }
    
    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding:  0.5rem 0;
        transition: all 0.4s linear;
        border-radius:5px;
        color:white;
    }
    
    .navigation ul li a:hover {
        background-color: #4a4a4a;
    }

}


@media only screen and (max-width:260px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        width: 3rem;
        fill: #20C20E;
        margin: auto;
        margin-top: 1.5rem;
    }

}